/* Navbar styles */
.navbar {
    background-color: #A020F0; 
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #8216c5; 
}

/* scrollbar adjustments */
::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

code {
    color: #222; 
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 70%; 
    border: 3px solid #aa3bf0; 
    border-radius: 5px; /* Border radius for rounded corners */
    background-color: #888; /* Light grey background color */
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: pre-wrap; /* Preserve whitespace and wrap lines */
    margin-bottom: 200px;
}

body {
    background-color: #262626;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 46px;
    color: #A020F0;
    text-align: center;
    margin-top: 40px;
}
h2 {
    font-size: 36px;
    color: #dfe3de;
    text-align: center;
    margin-top: 40px;
}

h4 {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

